#mainContainer{
  background-color:#1e1e1e;
  width:1000px;
  height:500px;
  cursor:default;
  position:relative;
}

*{
  cursor:default !important;
  -webkit-user-select: none;
 -khtml-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
     -o-user-select: none;
        user-select: none;
}

#myBox{
  width:40px;
  height:40px;
  background-color:#ff0000;
  position:absolute;
}

.myItem{
  /*width:40px;
  height:40px;
  /*background-color:#ff0000; */
  position:absolute;
}

.catalog img {
	height:50px;
	padding-right:10px;
}

.myItem img{
	width:100%;
}

.hline{
  height:1px;
  width:100%;
  float:left;
  position:absolute;
  left:0px; 
  background-color:#0f0;
}

.vline{
  width:1px;
  height:100%;
  float:left;
  position:absolute;
  background-color:#fff;
}


.spn_30r {
  width:27%;
  height:80%;
  display: inline-block;
  float:right;
  vertical-align:top;
}

.spn_70l {
  width:70%;
/*  display: inline-block; */
  height:80%;
  float:left;
  vertical-align:top;
  overflow:scroll;
}



#panel_catalog{
  border-radius: 10px;
  background: #73AD21;
  padding: 10px;
}
